@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.redundantFix {
    height: 92vh;
}

.About {
    display: grid;
    padding: 15px;
    font-family: 'Playfair Display', serif;
}

.About > div {
    border: 1px solid black;
    border-radius: 5px;
}

.About > div > .inline-box {
    display: flex;
    justify-content: center;
}

.down-arrow {
    align-self: center;
    max-height: 20px;
    margin-left: 5px;
}

.About > div > .inline-box > h2 {
    text-align: center;
    text-decoration: underline;
}

.About > div > .inline-box > h2:hover {
    color: orange;
    transition: all 0.1s ease-in;
}

.About > div > p {
    margin: 10px;
}