@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Gujarati:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');


.container {
    height: 92vh;
    font-family: 'Noto Serif Gujarati', serif;
}

.grid-separator {
    display: grid;
    height: 100%;
    align-items: center;
    grid-template-columns: 70% 30%;
}

.detail-info {
    padding: 50px;
    display: grid;
    text-align: center;
    justify-items: center;
}

.detail-info b {
    color: rgba(255, 166, 0, 0.56);
    animation: coloring-bold ease-in forwards alternate;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-play-state: infinite;
}

@keyframes coloring-bold {
    100% {
        color: rgba(255, 166, 0, 0.56);
    }
    75% {
        color: rgb(0, 179, 255);
    }
    50% {
        color: rgb(100, 18, 18);
    }
    25% {
        color: rgb(150, 122, 68);
    }
}

.detail-info button {
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.2rem;
    width: 50%;
    border: none;
}